body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
}

div {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#credents {
    height: 100%;
    background-color: green;
}

#category {
    background-color: yellowgreen;
    justify-content: space-evenly;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}

#logo {
    background-color: antiquewhite;
    height: 100%;
}

#logoText {
    background-color: inherit;
    font-size: large;
    font-weight: 800;
}

nav {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    width: 100%;
    min-height: 50px;
    height: 7%;
}

#filter {
    background-color: lightblue;
    min-height: 25px;
    height: 10%;
}

#filter_items {
    background-color: mediumseagreen;
    min-height: 25px;
    width: 200vw;
    height: 100%;
    float: left;
    overflow-y: scroll;
}

#filter_items ul li{
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid blue;
}
#filter_items>div{
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid red;
}

footer {
    background-color: blue;
    display: sticky;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 5%;
}


#table {
    display: block;
    width: 100vw;
    height: 75%;
    padding: 10vh;
    padding-inline: 10vw;
    margin: 0;
}
tr {
    display: block;
    
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    border-collapse: collapse;
}

#navbar {
    margin: 0;
    padding: 0;
    display: inline-flex;
}


#tableItems {
    padding: 20px;
    display: block;
    width: 80%;
    height: max(80%, 20%);
    overflow-y: scroll;
    border-collapse: collapse;
    background-color: lightsteelblue;
}

.tableItem {
    display: inline-block;
    width: 13vw;
    min-width: 200px;
    height: 13vh;
    min-height: 120px;
    background-color: azure;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
    padding: 0 10px;
    overflow: hidden;
}


tbody {
    width: 100%;
    display: block;
}

button {
    font-size: larger;
}

#loginTable {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: small;
    border-collapse: collapse;
    background-color: inherit;
}

#loginTable button {
    font-size: smaller;
}

#loginTable tr {
    width: 100%;
    height: 20%;
    border-collapse: collapse;
    background-color: inherit;
}

#loginTable td {
    border-collapse: collapse;
    justify-content: left;
    width: 100%;
}

#loginTable input {
    width: 90%;
    height: 50%;
}

.popup {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#popupBackground {
    background-color: lightblue;
    opacity: .4;
    z-index: 1;
}

#popupWin {
    width: 60vw;
    height: 80vh;
    top: 10vh;
    left: 20vw;
    background-color: aqua;
    z-index: 1;
    color: red;
    justify-content: center;
    text-align: center;
}
